<h1 mat-dialog-title>Delete {{data.name}} superhero?</h1>
<div mat-dialog-content>Would you like to delete this superhero?</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial color="warn">
    Delete
  </button>
</div>
