<mat-toolbar color="primary">
  <div
    fxFlex
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="32px"
  >
    <div>
      <span class="mat-h4">App - HEADER</span>
    </div>

    <div fxFlex fxLayout="row">
      <button mat-button (click)="btnClick('/superhero')">
        Superhero List
      </button>

      <button mat-button (click)="btnClick('/superhero/backend')">
        List BE Paginated
      </button>
    </div>
  </div>
</mat-toolbar>
