<div
  fxLayout="row"
  fxLayoutAlign="space-between center"
  class="action-container"
>
  <div>
    <button mat-button (click)="btnBack()">Back</button>
  </div>

  <div>
    <h2>{{ headerText }}</h2>
  </div>

  <div fxLayoutGap="8px">
    <ng-container *ngIf="!isEdit; else elseBtn">
      <button mat-button (click)="btnEdit()">Edit</button>
    </ng-container>
    <ng-template #elseBtn>
      <button mat-button (click)="btnCancel()">Cancel</button>
      <button
        mat-button
        color="primary"
        [disabled]="fg.invalid"
        (click)="btnSave()"
      >
        Save
      </button>
    </ng-template>
  </div>
</div>

<ng-container *ngIf="superhero$ | async">
  <form [formGroup]="fg" fxLayout="column" fxLayoutGap="16px">
    <div fxLayout="row" fxLayoutGap="16px">
      <div fxFlex fxLayout="column">
        <span>Name</span>
        <mat-form-field>
          <input
            matInput
            type="text"
            formControlName="name"
            placeholder="Name"
            appUppercaseInput
          />
          <button
            *ngIf="showClean('name')"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="clearFormValue('name')"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-error>Required</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex fxLayout="column">
        <span>Place</span>
        <mat-form-field>
          <input
            matInput
            type="text"
            formControlName="place"
            placeholder="Place"
          />
          <button
            *ngIf="showClean('place')"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="clearFormValue('place')"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-error>Required</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="16px">
      <div fxFlex fxLayout="column">
        <span>Real Name</span>
        <mat-form-field>
          <input
            matInput
            type="text"
            formControlName="realName"
            placeholder="Real Name"
          />
          <button
            *ngIf="showClean('realName')"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="clearFormValue('realName')"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-error>Required</mat-error>
        </mat-form-field>
      </div>

      <div fxFlex fxLayout="column">
        <span>Job</span>
        <mat-form-field>
          <input matInput type="text" formControlName="job" placeholder="Job" />
          <button
            *ngIf="showClean('job')"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="clearFormValue('job')"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-error>Required</mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</ng-container>
