<div>
  <h1>Superhero List - Frontend Paginated</h1>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center" style="padding-bottom: 16px;">
  <div>
    <mat-form-field>
      <mat-label>Filter by Name</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Filter by Name"
        #input
      />
    </mat-form-field>
  </div>

  <div>
    <button mat-button color="primary" (click)="btnAdd()">
      <mat-icon>add</mat-icon>
      <span>Add</span>
    </button>
  </div>
</div>

<div class="mat-elevation-z8">
  <table *ngIf="superheroes$ | async" mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="place">
      <th mat-header-cell *matHeaderCellDef>Place</th>
      <td mat-cell *matCellDef="let element">{{ element.place }}</td>
    </ng-container>

    <ng-container matColumnDef="realName">
      <th mat-header-cell *matHeaderCellDef>Real Name</th>
      <td mat-cell *matCellDef="let element">{{ element.realName }}</td>
    </ng-container>

    <ng-container matColumnDef="job">
      <th mat-header-cell *matHeaderCellDef>Job</th>
      <td mat-cell *matCellDef="let element">{{ element.job }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="btnEdit(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="btnDelete(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
  </mat-paginator>
</div>
