<h1 mat-dialog-title>{{ data.id ? "Edit" : "New" }} superhero</h1>

<div mat-dialog-content>
  <form [formGroup]="fg">
    <div fxLayout="row" fxLayoutGap="16px">
      <div fxLayout="column">
        <span>Name</span>
        <mat-form-field>
          <input
            matInput
            type="text"
            formControlName="name"
            placeholder="Name"
            appUppercaseInput
          />
          <button
            *ngIf="getFormValue('name')"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="clearFormValue('name')"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-error>Required</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="column">
        <span>Place</span>
        <mat-form-field>
          <input
            matInput
            type="text"
            formControlName="place"
            placeholder="Place"
          />
          <button
            *ngIf="getFormValue('place')"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="clearFormValue('place')"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-error>Required</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="16px">
      <div fxLayout="column">
        <span>Real Name</span>
        <mat-form-field>
          <input
            matInput
            type="text"
            formControlName="realName"
            placeholder="Real Name"
          />
          <button
            *ngIf="getFormValue('realName')"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="clearFormValue('realName')"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-error>Required</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="column">
        <span>Job</span>
        <mat-form-field>
          <input matInput type="text" formControlName="job" placeholder="Job" />
          <button
            *ngIf="getFormValue('job')"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="clearFormValue('job')"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-error>Required</mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    [disabled]="fg.invalid"
    mat-button
    [mat-dialog-close]="getFormGroupValue()"
    cdkFocusInitial
    color="primary"
  >
    Save
  </button>
</div>
