<h1 mat-dialog-title>{{ data.title }}</h1>
<ng-container *ngIf="data.message">
  <div mat-dialog-content>
    <p>{{ data.message }}</p>
  </div>
</ng-container>

<div mat-dialog-actions>
  <button mat-flat-button (click)="onCancelClick()">Cancel</button>
  <button
    mat-flat-button
    color="warn"
    (click)="onConfirmClick()"
    cdkFocusInitial
  >
    Confirm
  </button>
</div>
